// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #525252;
$accent    : #9C27B0;

$dark      : #3D3C35;
$light     : #E5E5E5;
$positive  : #52A50E;
$negative  : #CF2222;
$info      : #31CCEC;
$warning   : #F2C037;

$white: #fff;
$black: #000;

$bg-color : #ECECEC;

$primary-color : #B65207;
$main-font-color: #525252;

$border : #E0E0E0;


